.row
  .scroll_list
    - @image_files.each_with_index do |file, index|
      - if (index % 6).zero?
        .clearfix
      .col-md-2
        .panel.panel-success
          .panel-heading
            %h3.panel-title
              %strong
                = file
          .panel-body
            %a{href: "images/thumbnails/#{file}.jpg", target: "_blank"}
              %img{src: "images/thumbnails/#{file}.jpg"}
            %hr
            .row.center-block
              = link_to "/set_scroll/#{file}", "<i class='fa fa-check-circle-o fa-2x'></i>", class: "btn btn-xs btn-primary col-md-5 col-md-offset-1"
              = link_to "#", "<i class='fa fa-trash-o fa-2x'></i>", :class => "btn btn-xs btn-danger col-md-5 col-md-offset-1", :'data-toggle' => "confirmation-popout", :'data-placement' => "bottom", :'data-href' => "/delete/#{file}"
